Hi {{firstName}}!

Thank you for volunteering to deliver groceries to our neighbors with Bed-Stuy
Strong!

We've assigned you Route {{routeName}} with the following tickets: {{ticketIDs}}

### Overview

This coming Saturday, please come to the Brooklyn Packers warehouse at **[221
Glenmore Ave, Gate 4]({{{warehouseMapsUrl}}}) at {{arrivalTime}}** to pick up
your deliveries. **Please do not park in front of the main driveway.** Find a
spot to park, and then walk up to the warehouse to let Hanna and Jackson know
that you've arrived. When your deliveries are all ready, you'll pull up closer
and we'll bring the pallet with your deliveries to your car.

If you are shopping for your own tickets, please do your shopping first (you'll
also get an email about shopping), and get the items labeled and in your car,
before coming to the warehouse.

If you requested a separate shopping volunteer, please arrange to meet them at
the store to pick up your additional items, with enough time to get to the
warehouse by {{arrivalTime}}.

The neighbors you're delivering to have confirmed their availability for
1:30-4pm, but you'll call each of them before you leave the warehouse to get any
last minute delivery details.

You'll load your car with boxes/bags for the above ticket IDs, and then deliver
them to the addresses below. Since there are perishables in the deliveries,
you'll need to deliver them immediately after pickup. You may want to plan your
route to Brooklyn Packers and then to the delivery locations in advance.

If possible, we recommend printing this email out so you can mark tickets done
as you complete them. Please also fill out the [Completion
Form](https://airtable.com/shrvHf4k5lRo0I8F4) when you finish your deliveries.
If any issues come up during your deliveries, or you are unable to deliver any
of the boxes (because someone isn't home) contact Jackson at
{{warehouseCoordinatorPhone}}. We'll help you redistribute the food to the
community in another way.

### Delivery Day Checklist

- [ ] Shop for custom items (instructions sent separately) or meet your shopping
      teammate at an agreed-upon time and place.

- [ ] Check in with Hanna or Jackson at the warehouse when you arrive. They'll
      let you know when your main food boxes and additional items are ready.
      
While you're waiting:

- [ ] Call the recipients of each ticket to confirm someone will be home to
      accept the delivery. (If they're not, please let Jackson or Hanna know --
      we'll use their items for someone else, and deliver to them another time.)
- [ ] At the warehouse, you'll collect the following for each household (we'll
      give you more specific instructions day of):
    - [ ] Main food boxes (may be multiple per household)
    - [ ] Cleaning supplies
    - [ ] Custom items
    - [ ] Water
- [ ] All boxes/bags will be labeled with ticket IDs. Please confirm all the
      ticket IDs match, and have your route number/name on them.
- [ ] Put everything in your car
- [ ] Check off each delivery below as you complete it
- [ ] Fill out the [delivery completion
      form](https://airtable.com/shrvHf4k5lRo0I8F4) when you're done. If you
      didn't do any shopping, specify $0 Total Cost.

Thank you!

----
### Tickets (Route {{routeName}})
{{#tickets}}

#### Ticket ID: {{ticketID}}
- [ ] Confirmed someone will be home
- [ ] Delivered!

**Name**: {{requestName}}<br/>
**Address**: [{{address}}]({{{mapsUrl}}})<br/>
**Phone Number**: [{{phoneNumber}}](tel:+1{{phoneNumberNumbersOnly}})<br/>

**Vulnerabilities**: {{vulnerabilities}}<br/>
**Household Size**: {{householdSize}}<br/>

**Grocery List**: {{groceryList}}<br/>
**Custom Items**: {{otherItems}}<br/>
{{#deliveryNotes}}**Notes for Delivery**: {{.}}<br/>{{/deliveryNotes}}

----
{{/tickets}}