### Shopping List

{{#noRouteSection}}
#### No Route Number

{{#items}}
 - [ ] {{{item}}}
{{/items}}

{{/noRouteSection}}

#### Route {{routeName}}

{{#tickets}}
**Ticket {{ticketID}}** ({{conditions}})

{{#items}}
 - [ ] {{quantity}} {{item}}
{{/items}}

---
{{/tickets}}