@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Open+Sans:wght@700&display=swap');

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.main {
  margin: 2rem;
}

@media screen and (min-width: 500px) {
  .main {
    max-width: 40rem;
  }
}

h1 a {
  color: inherit;
  text-decoration: none;
}

ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}