body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.main {
  margin: 2rem;
}

@media screen and (min-width: 500px) {
  .main {
    max-width: 40rem;
  }
}

h1 a {
  color: inherit;
  text-decoration: none;
}